* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v16_61 {
  width: 100%;
  height: 1391px;
  background: url("../images/v16_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_62 {
  width: 100%;
  height: 87px;
  background: url("../images/v16_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_63 {
  width: 100%;
  height: 87px;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v188_12 {
  width: 100%;
  height: 87px;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_64 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 32px;
  left: 76px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v16_65 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 32px;
  left: 221px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v16_66 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 32px;
  left: 400px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v186_37 {
  width: 203px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 32px;
  left: 611px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v16_68 {
  width: 100%;
  height: 207px;
  background: url("../images/v16_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1184px;
  left: 0px;
  overflow: hidden;
}
.v16_69 {
  width: 100%;
  height: 207px;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v38_57 {
  width: 100%;
  height: 207px;
  background: url("../images/v38_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v38_58 {
  width: 100%;
  height: 151px;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v38_59 {
  width: 100%;
  height: 58px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 0px;
  overflow: hidden;
}
.v38_60 {
  width: 168px;
  height: 76px;
  background: url("../images/v38_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 1025px;
  overflow: hidden;
}
.v38_61 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v38_62 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 59px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v38_63 {
  width: 141px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v38_64 {
  width: 144px;
  height: 28px;
  background: url("../images/v38_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 241px;
  overflow: hidden;
}
.v38_66 {
  width: 144px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v109_47 {
  width: 84px;
  height: 84px;
  background: url("../images/v109_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 682px;
  overflow: hidden;
}
.v16_70 {
  width: 308px;
  height: 34px;
  background: url("../images/v16_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 937px;
  overflow: hidden;
}
.v16_71 {
  width: 308px;
  height: 34px;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(24,82,199,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v16_72 {
  width: 20px;
  height: 20px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 9px;
  border: 3px solid rgba(24,82,199,1);
}
.v14_9 {
  width: 160px;
  height: 822px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 71px;
  overflow: hidden;
}
.v14_28 {
  width: 160px;
  height: 822px;
  background: rgba(252,252,252,1);
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 70px;
  overflow: hidden;
}
.v185_2104 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 549px;
  left: 95px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v180_14 {
  width: 159px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 403px;
  left: 95px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v180_16 {
  width: 102px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 505px;
  left: 95px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_19 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 376px;
  left: 96px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v14_12 {
  width: 145px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 210px;
  left: 89px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v180_11 {
  width: 83px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 327px;
  left: 92px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_11 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 182px;
  left: 93px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v14_10 {
  width: 91px;
  height: 128px;
  background: url("../images/v14_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 253px;
  left: 312px;
  overflow: hidden;
}
.v14_14 {
  width: 91px;
  height: 128px;
  background: url("../images/v14_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 253px;
  left: 444px;
  overflow: hidden;
}
.v14_15 {
  width: 91px;
  height: 128px;
  background: url("../images/v14_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 253px;
  left: 579px;
  overflow: hidden;
}
.v14_16 {
  width: 91px;
  height: 128px;
  background: url("../images/v14_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 253px;
  left: 724px;
  overflow: hidden;
}
.v14_17 {
  width: 91px;
  height: 128px;
  background: url("../images/v14_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 253px;
  left: 865px;
  overflow: hidden;
}
.v36_2 {
  width: 91px;
  height: 128px;
  background: url("../images/v36_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 253px;
  left: 1000px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v14_13 {
  width: 201px;
  color: rgba(9,8,8,1);
  position: absolute;
  top: 191px;
  left: 267px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v36_21 {
  width: 202px;
  color: rgba(8,7,7,1);
  position: absolute;
  top: 479px;
  left: 267px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v36_22 {
  width: 91px;
  height: 128px;
  background: url("../images/v36_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 541px;
  left: 312px;
  overflow: hidden;
}
.v140_81 {
  width: 91px;
  height: 128px;
  background: url("../images/v140_81.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 544px;
  left: 440px;
  overflow: hidden;
}
.v140_87 {
  width: 91px;
  height: 128px;
  background: url("../images/v140_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 541px;
  left: 580px;
  overflow: hidden;
}
.v140_89 {
  width: 91px;
  height: 128px;
  background: url("../images/v140_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 544px;
  left: 722px;
  overflow: hidden;
}
.v140_91 {
  width: 91px;
  height: 128px;
  background: url("../images/v140_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 541px;
  left: 865px;
  overflow: hidden;
}
.v140_93 {
  width: 91px;
  height: 128px;
  background: url("../images/v140_93.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 544px;
  left: 1000px;
  overflow: hidden;
}
.v387_15 {
  width: 91px;
  height: 128px;
  background: url("../images/v387_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 849px;
  left: 312px;
  border-top-left-radius: 25px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v387_17 {
  width: 91px;
  height: 128px;
  background: url("../images/v387_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 849px;
  left: 444px;
  border-top-left-radius: 20px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v387_19 {
  width: 91px;
  height: 128px;
  background: url("../images/v387_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 849px;
  left: 579px;
  border-top-left-radius: 20px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v387_21 {
  width: 91px;
  height: 128px;
  background: url("../images/v387_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 849px;
  left: 720px;
  border-top-left-radius: 20px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v387_23 {
  width: 91px;
  height: 128px;
  background: url("../images/v387_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 849px;
  left: 865px;
  border-top-left-radius: 20px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v36_34 {
  width: 219px;
  color: rgba(9,8,8,1);
  position: absolute;
  top: 773px;
  left: 267px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v109_45 {
  width: 64px;
  height: 64px;
  background: url("../images/v109_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 1312px;
  overflow: hidden;
}
.v387_25 {
  width: 40px;
  height: 39px;
  background: url("../images/v387_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1263px;
  left: 254px;
  overflow: hidden;
}
.v387_26 {
  width: 40px;
  height: 39px;
  background: url("../images/v387_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1263px;
  left: 312px;
  overflow: hidden;
}

/* Estilos para o input de pesquisa */
.v16_70 input {
  width: 100%;
  height: 34px;
  background: rgba(250,250,250,1);
  border: 2px solid rgba(24,82,199,1);
  border-radius: 10px;
  padding: 0 10px 0 30px;
  outline: none;
  font-family: Montserrat;
}

/* Adicionando efeitos de hover */
.v14_10:hover, .v14_14:hover, .v14_15:hover, .v14_16:hover, .v14_17:hover, .v36_2:hover,
.v36_22:hover, .v140_81:hover, .v140_87:hover, .v140_89:hover, .v140_91:hover, .v140_93:hover,
.v387_15:hover, .v387_17:hover, .v387_19:hover, .v387_21:hover, .v387_23:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  cursor: pointer;
}

.v109_45:hover, .v387_25:hover, .v387_26:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.v16_64:hover, .v16_65:hover, .v16_66:hover, .v186_37:hover,
.v180_11:hover, .v180_14:hover, .v180_16:hover, .v14_12:hover, .v185_2104:hover {
  color: rgba(24,82,199,1);
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Estilos adicionais para responsividade */
@media screen and (max-width: 1400px) {
  /* Layout para telas grandes */
  .v16_61 {
    zoom: 0.9;
    -moz-transform: scale(0.9);
    -moz-transform-origin: 0 0;
  }
}

@media screen and (max-width: 1200px) {
  /* Layout para telas médias */
  .v16_61 {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -moz-transform-origin: 0 0;
  }
}

@media screen and (max-width: 992px) {
  /* Layout para tablets */
  .v16_61 {
    zoom: 0.7;
    -moz-transform: scale(0.7);
    -moz-transform-origin: 0 0;
  }
}

@media screen and (max-width: 768px) {
  /* Ajustes específicos para telas móveis */
  .v16_61 {
    zoom: 0.6;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
    height: 1600px; /* Altura ajustada para evitar cortes */
  }
  
  body {
    overflow-x: hidden; /* Prevenir scroll horizontal */
  }
}

@media screen and (max-width: 576px) {
  /* Ajustes para telas muito pequenas */
  .v16_61 {
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    height: 1800px;
  }
}

/* Estilos adicionais para garantir que o zoom funcione corretamente */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Fix para Firefox */
@-moz-document url-prefix() {
  .v16_61 {
    transform-origin: 0 0;
  }
}

/* Fix para Edge e IE */
@supports (-ms-ime-align:auto) {
  .v16_61 {
    transform: scale(var(--scale, 1));
    transform-origin: 0 0;
  }
  
  @media screen and (max-width: 1400px) {
    .v16_61 {
      --scale: 0.9;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .v16_61 {
      --scale: 0.8;
    }
  }
  
  @media screen and (max-width: 992px) {
    .v16_61 {
      --scale: 0.7;
    }
  }
  
  @media screen and (max-width: 768px) {
    .v16_61 {
      --scale: 0.6;
    }
  }
  
  @media screen and (max-width: 576px) {
    .v16_61 {
      --scale: 0.5;
    }
  }
}